<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border="1" id="tb" style="margin-top: 10px;background-color: antiquewhite">

        <tr>
            <th>id</th>
            <th>ip</th>
            <th>register_date</th>
            <th>HostModel</th>
            <th>Expire</th>
            <th>email</th>
            <th>operating_System</th>
            <th>MAC_address</th>
            <th>domain</th>


        </tr>


        <tr style="background-color: aquamarine">
            <td>{{ user_list.id }}</td>
            <td>{{ user_list.ip }}</td>
            <td>{{ user_list.register_date }}</td>
            <td>{{ user_list.HostModel }}</td>
            <td>{{ user_list.Expire }}</td>
            <td>{{ user_list.email }}</td>
            <td>{{ user_list.operating_System }}</td>
            <td>{{ user_list.MAC_address }}</td>
            <td>{{ user_list.domain }}</td>

        </tr>

    </table>

</div>
</body>
</html>